.env
node_modules
env
dockerignore
Dockerfile
docker-compose.yml
docker-compose.override.yml
docker-compose.yml

# .gitignore
.env
.env.local
.env.development

// .env
// .env.local

// .env.development